<!DOCTYPE html>

<html>
  
  
<head>
  
   <title>Coffe Cups</title>
  
<script data-ad-client="ca-pub-6759526964437080" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  
     <link id="favicon" rel="icon" href="https://cdn.discordapp.com/attachments/735962587904213162/736344207836577843/coffee-cups.png" type="image/x-icon">
     <link rel="stylesheet" type="text/css" href="/index/index.css">
     <link rel="stylesheet" type="text/css" href="/index/dropdown.css">

</head>
  
<body>
  
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
  
    <div class="sidebar">
      
        <h2>Coffe Cups</h2>
      
        <ul>
          
              
                <div class="dropdown">
                
                        <li><a href="/perfil"><i class="fas fa-id-badge"></i>Perfil</a></li>  
                  
                </div>

              
          
            <% if(!client.guilds.cache.get('756899938683715785').members.cache.get(user.id).roles.cache.has(('756903242071277678'))) { %>

            <% } else { %>

                <div class="dropdown">
                
                        <li><button type="submit" class="dropbtn">Analisador</button></li>    
                  
                <div class="dropdown-content">
                  
                        <li><a href="/analises"><i class="fas fa-id-badge"></i>Analises</a></li>

                </div>
                </div>

            <% } %>

            <li><a href="/"><i class="fas fa-home"></i>Página Inicial</a></li>
            <li><a href="/addbot"><i class="fas fa-list-ul"></i>Enviar BOT</a></li>   
            <li><a href="/sobre"><i class="fas fa-tags"></i>Sobre</a></li>  
            <li><a href="/status"><i class="fas fa-tags"></i>Status</a></li>            
        </ul>
      
     
      
        <div class="social_media">
          
          <a href="https://www.youtube.com/channel/"><i class="fab fa-youtube"></i></a>
          <a href="https://discord.gg/4uXZ6e7"><i class="fab fa-discord"></i></a>
          <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
          
          
      </div>
      
    </div>

  <div class="main_content">
        
        <div class="header">Lista de Robôs
          
            <!--
              
              <form class="pesquisa" action="/resultados" method="POST">
              
               <input class="pesquisaI" type="text" name="resultados" placeholder="CookLab" required>
               <button class="pesquisaB" type="submit"><i class="fa fa-search"></i></button>
              
             </form>

            -->
          
        </div>  
                            <li><button type="submit" class="dropbtn">Adicionar BOT</button></li>

        <div class="info">
        <div>
          
          <main class="addbotMain" >
            
                  <form class"addbotForm" action="/send" method="POST">

                        <label class="addbotLabel"for="botNome">Nome do BOT<span style="color: #FF5F56">*</span></label>
                        <input class="addbotInput" name="botNome" type="text" placeholder="B40" required></br>

                        <label class="addbotLabel"for="botID">ID do BOT<span style="color: #FF5F56">*</span></label>
                        <input class="addbotInput" name="botID" type="text" placeholder="82828992777233" required></br>

                        <label class="addbotLabel"for="botPrefix">Prefixo do BOT<span style="color: #FF5F56">*</span></label>
                        <input class="addbotInput" name="botPrefix" type="text" placeholder="b!" required></br>

                        <label class="addbotLabel"for="botDescP">Descrição Simples<span style="color: #FF5F56">*</span></label>
                        <input class="addbotInput" name="botDescP" type="text" placeholder="Um lindinho Robô chamado B40!" max="120" required></br>

                        <label class="addbotLabel"for="botDescG">Descrição Detalhada<span style="color: #FF5F56">*</span></label>
                        <input class="addbotInput" name="botDescG" type="text" placeholder="Um robô focado em moderação e diversão!" max="320" required></br>

                        <label class="addbotLabel"for="botSuporte">Servidor de suporte do BOT</label>
                        <input class="addbotInput" name="botSuporte" type="text" placeholder="discord.gg/cooklab" required></br>

                        <label class="addbotLabel"for="botInvite">Link de invite do BOT</label>
                        <input class="addbotInput" name="botInvite" type="text" placeholder="Convite" required></br>

                        <label class="addbotLabel"for="livraria">Livraria do BOT<span style="color: #FF5F56">*</span></label>

                        <select class="addbotSelect" name="livraria" required>

                          <option value="">Selecionar Livraria</option></br>

                          <% for(let i = 0; i < livrarias.length; i++) { %>

                          <option value="<%- livrarias[i] %>"><%- livrarias[i] %></option>

                          <% } %>

                        </select></br>

                        <span style="color: #FF5F56">* = Obrigatório</span>
                        <button class="addbotButton" type="submit">Enviar para Verificação</button>

                  </form>

          </main>
          
        </div>
          
</body>
</html>