<!DOCTYPE html>

<html>
  
  
<head>
  
     <script data-ad-client="ca-pub-6759526964437080" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  
     <title>Coffe Cups</title>
  
     <link id="favicon" rel="icon" href="https://cdn.discordapp.com/attachments/735962587904213162/736344207836577843/coffee-cups.png" type="image/x-icon">
     <link rel="stylesheet" type="text/css" href="/index/index.css">
     <link rel="stylesheet" type="text/css" href="/index/dropdown.css">
    
</head>
  
<body>
    
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
  
    <div class="sidebar">
      
        <h2>Coffe Cups</h2>
      
        <ul>
          
          

                <div class="dropdown">
                
                        <li><a href="/perfil"><i class="fas fa-id-badge"></i>Perfil</a></li>  
                
                </div>

              

            <% if(!client.guilds.cache.get('756899938683715785').members.cache.get(user.id).roles.cache.has(('756903242071277678'))) { %>

            <% } else { %>

                <div class="dropdown">
                
                        <li><button type="submit" class="dropbtn">Analisador</button></li>    
                  
                <div class="dropdown-content">
                  
                        <li><a href="/analises"><i class="fas fa-id-badge"></i>Analises</a></li>

                </div>
                </div>

            <% } %>
          
            <li><a href="/"><i class="fas fa-home"></i>Página Inicial</a></li>
            <li><a href="/addbot"><i class="fas fa-list-ul"></i>Enviar BOT</a></li>   
            <li><a href="/sobre"><i class="fas fa-tags"></i>Sobre</a></li>    
            <li><a href="/status"><i class="fas fa-tags"></i>Status</a></li>          
        </ul> 
      
     
      
        <div class="social_media">
          
          <a href="https://www.youtube.com/channel/"><i class="fab fa-youtube"></i></a>
          <a href="https://discord.gg/4uXZ6e7"><i class="fab fa-discord"></i></a>
          <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
          
          
      </div>
      
    </div>

  <div class="main_content">
        
        <div class="header">Bots registrados em sua conta.
          
            <!-- <form class="pesquisa" action="/resultados" method="POST">
              
               <input class="pesquisaI" type="text" name="resultados" placeholder="CookLab" required>
               <button class="pesquisaB" type="submit"><i class="fa fa-search"></i></button>
              
             </form> -->
          
        </div>  
        
        <div class="info">
        <div>
              
              <center><img class="userAvatar" src="<%- userinfo.avatarURL({ dynamic: true, size: 1024 }) %>"></center></br></br></br>
              
              <h1 class="perfil">Opções</h1></br></br></br></br>

<div class="cards">

            <a href="/perfil/storage">

                <div class="card">

                        <img src="https://cdn.discordapp.com/emojis/752562135594434672.png?size=4096" alt="Avatar" style="width:100%"></br>
          
                        <div class="container">
                   
                          <center><h2><b>Storage - Imagens</b></h2></br></center>
                        
                        </div>
          
                </div></a>

</div>
</div>
</div>
          
</body>
</html>
